.companycard {
    width: 450px;
    padding: 20px;
    color: white;
    background: linear-gradient(#32313180, #212121b1) padding-box,
                linear-gradient(145deg, transparent 35%,#2cad844d, #40c9ff48) border-box;
    border: 2px solid transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transform-origin: right bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    margin: 10px;
  }
  
  .companycard .main-content {
    flex: 1;
  }
  
  .companycard .header span:first-child {
    font-weight: 600;
    color: #717171;
    margin: 10px;
    
}
  
  .companycard .heading {
    font-size: 24px;
    margin: 24px 0 16px;
    font-weight: 600;
   font-family: 'Fantasy';;
  }
  
  .companycard .categories {
    display: flex;
    gap: 8px;
    width: 200px;
  }
  
  .companycard .categories span {
    background-color: #364743ad;
    padding: 4px 4px;
    font-weight: 700;
    /* text-transform: uppercase; */
    font-size: 12px;
    border-radius: 10px;
   font-family: 'Fantasy';;
    margin: 5px;
  }
  
  .companycard .footer {
    font-weight: 600;
    color: #717171;
    margin-right: 4px;
    
  }
  
  .companycard:hover {
    /* rotate: 360deg; */
  background-color: rgb(42, 87, 62) ;
  transition: transform 0.3s ease, background-color 0.3s ease;
  }
  .header{
    margin-bottom: 10px;
  }