.parent {
  width: 500px;
  height: 380px;
  perspective: 1000px;
  backdrop-filter: blur(.1rem);
}

.card {
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(135deg, rgba(51, 69, 69, 0.497) 0%, rgba(6, 36, 50, 0.068) 100%);
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
  
  box-shadow: rgba(79, 89, 81, 0.092) 40px 50px 25px -40px, rgba(5, 71, 17, 0.096) 0px 25px 25px -5px;
}

.glass {
  transform-style: preserve-3d;
  position: absolute;
  inset: 8px;
  border-radius: 55px;
  border-top-right-radius: 80%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.103) 0%, rgba(255, 255, 255, 0.127) 100%);
  /* -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); */
  transform: translate3d(0px, 0px, 25px);
  border-left: 1px solid rgba(255, 255, 255, 0.342);
  border-bottom: 1px solid rgba(255, 255, 255, 0.387);
  transition: all 0.5s ease-in-out;
}

.content {
  padding: 100px 40px 0px 25px;
  transform: translate3d(0, 0, 26px);
}

.content .title {
  display: block;
  color: #ffffff;
  font-weight: 900;
  font-size: 25px;
 font-family: 'Fantasy';;
}

.content .text1 {
  display: block;
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: 30px;
 font-family: 'Fantasy';;
}

.bottom {
  padding: 10px 12px;
  transform-style: preserve-3d;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translate3d(0, 0, 26px);
}

.bottom .view-more {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: flex-end;
  transition: all 0.2s ease-in-out;
}

.bottom .view-more:hover {
  transform: translate3d(0, 0, 10px);
}

.bottom .view-more .view-more-button {
  background: none;
  border: none;
  color: #fefefe;
  font-weight: bolder;
  font-size: 12px;
  letter-spacing: 2px;
 font-family: 'Fantasy';;
}

.bottom .view-more .svg {
  fill: none;
  stroke: #2db2ff;
  stroke-width: 3px;
  max-height: 15px;
}

.bottom .social-buttons-container {
  display: flex;
  gap: 10px;
  transform-style: preserve-3d;
}

.bottom .social-buttons-container .social-button {
  width: 30px;
  aspect-ratio: 1;
  padding: 5px;
  background: rgba(185, 200, 216, 0.336);
  border-radius: 50%;
  border: none;
  display: grid;
  place-content: center;
  box-shadow: rgba(5, 110, 170, 0.349) 0px 7px 5px -5px;
}

.bottom .social-buttons-container .social-button:first-child {
  transition: transform 0.2s ease-in-out 0.4s, box-shadow 0.2s ease-in-out 0.4s;
}

.bottom .social-buttons-container .social-button:nth-child(2) {
  transition: transform 0.2s ease-in-out 0.6s, box-shadow 0.2s ease-in-out 0.6s;
}

.bottom .social-buttons-container .social-button:nth-child(3) {
  transition: transform 0.2s ease-in-out 0.8s, box-shadow 0.2s ease-in-out 0.8s;
}

.bottom .social-buttons-container .social-button:nth-child(4) {
  transition: transform 0.2s ease-in-out 1s, box-shadow 0.2s ease-in-out 1s;
}

.bottom .social-buttons-container .social-button:nth-child(5) {
  transition: transform 0.2s ease-in-out 1.2s, box-shadow 0.2s ease-in-out 1.2s;
}

.bottom .social-buttons-container .social-button .svg {
  width: 22px;
  height: 20px;
}

.svgimg {
  width: 40px;
  height: 40px;
}

.bottom .social-buttons-container .social-button:hover {
  background: black;
}

.bottom .social-buttons-container .social-button:hover .svg {
  fill: white;
}

.bottom .social-buttons-container .social-button:active {
  background: rgba(18, 63, 55, 0.151);
}

.bottom .social-buttons-container .social-button:active .svg {
  fill: black;
}

.logo {
  position: absolute;
  right: 0;
  top: 0;
  transform-style: preserve-3d;
}

.logo .circle {
  display: block;
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 0;
  right: 0;
  box-shadow: rgba(255, 255, 255, 0.202) -10px 10px 20px 0px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(49, 82, 82, 0.171);
  transition: all 0.5s ease-in-out;
}

.logo .circle1 {
  width: 170px;
  transform: translate3d(0, 0, 20px);
  top: 8px;
  right: 8px;
}

.logo .circle2 {
  width: 140px;
  transform: translate3d(0, 0, 40px);
  top: 10px;
  right: 10px;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  transition-delay: 0.4s;
}

.logo .circle3 {
  width: 110px;
  transform: translate3d(0, 0, 60px);
  top: 17px;
  right: 17px;
  transition-delay: 0.8s;
}

.logo .circle4 {
  width: 80px;
  transform: translate3d(0, 0, 80px);
  top: 25px;
  right: 28px;
  transition-delay: 1.2s;
}

.logo .circle5 {
  width: 50px;
  transform: translate3d(0, 0, 100px);
  top: 30px;
  right: 30px;
  display: grid;
  place-content: center;
  transition-delay: 1.6s;
}

.logo .circle5 .svg {
  width: 20px;
  fill: white;
}

.parent:hover .card {
  transform: rotate3d(1, 1, 0, 20deg);
  box-shadow: rgba(5, 39, 71, 0.171) 30px 50px 25px -40px, rgba(5, 31, 71, 0) 0px 25px 30px 0px;
}

.parent:hover .card .bottom .social-buttons-container .social-button {
  transform: translate3d(0, 0, 50px);
  box-shadow: rgba(5, 36, 71, 0) -5px 20px 10px 0px;
}

.parent:hover .card .logo .circle2 {
  transform: translate3d(0, 0, 60px);
}

.parent:hover .card .logo .circle3 {
  transform: translate3d(0, 0, 80px);
}

.parent:hover .card .logo .circle4 {
  transform: translate3d(0, 0, 100px);
}

.parent:hover .card .logo .circle5 {
  transform: translate3d(0, 0, 120px);
}


.resume {
  width: 6em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: 'Fantasy';;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 4px 4px 12px #00aaff4a,
              -4px -4px 12px #00ddff50;
 }
 
 .resume::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fbdd8 0%, #0901ff 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .resume:hover::before {
  width: 9em;
 }
 .resumetext{
  color: #fefefe;
 font-family: 'Fantasy';;
 }