.light-button button.bt {
  position: relative;
  height: 50px;
  display: flex;
  align-items: flex-end;
  outline: none;
  background: none;
  border: none;
  justify-content: center;
}

.light-button button.bt .button-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 5px;
  color: #0f0f0f;
  font-weight: 700;
  transition: 300ms;
  outline: transparent 2px solid;
  outline-offset: 20;
}

.light-button button.bt .button-holder svg {
  height: 40px;
  fill: #ffffff;
  transition: 300ms;
}

.light-button button.bt .light-holder {
  position: absolute;
  height: 50px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light-button button.bt .light-holder .dot {
  position: absolute;
  top: 0;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 2;
}

.light-button button.bt .light-holder .light {
  position: absolute;
  top: 0;
  width: 100px;
  height: 35px;
  clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
  background: transparent;
}

.light-button button.bt:hover .button-holder svg {
  fill: rgba(88, 101, 242, 1);
}

.light-button button.bt:hover .button-holder {
  color: rgb(255, 0, 191,0.5);
  outline: rgb(255, 255, 255) 1px solid;
  outline-offset: 10px;
}

.light-button button.bt:hover .light-holder .light {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(8, 144, 255) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
}
