.btn {
    height: 2em;
    width: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 0px solid black;
  }
  
  .wrapper {
    height: 2em;
    width: 8em;
    position: relative;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text {
    font-size: 30px;
    z-index: 1;
    color: #ffffff;
    padding: 4px 12px;
    border-radius: 4px;
    font-family: 'Audiowide';
  }
  