.container {
  margin-top: 0;
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.infoContainer {
  flex-wrap: wrap;
  flex-direction: row;
}

.bgimg {
  /* background-image: url("https://images.pexels.com/photos/2670898/pexels-photo-2670898.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); */
  background-color: rgb(0, 3, 3);
  height: min-content;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  /* backdrop-filter: blur(1px); */
  /* background-color: rgba(0, 0, 0, 0.901); */
  user-select: none !important; /* Applies universally */
  -webkit-user-select: none !important; /* Safari */
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important; /* Internet Explorer/Edge */
  height:100vh;
  margin: 0;
  --x: calc(var(--posX, 0) * 1px);
  --y: calc(var(--posY, 0) * 1px);
  background-image: 
    linear-gradient(115deg, rgb(211 255 215), rgb(0 0 0)), 
    radial-gradient( 90% 100% at calc( 50% + var(--x)) calc( 0% + var(--y)), rgb(200 200 200), rgb(022 000 045)), 
    radial-gradient(100% 100% at calc( 80% - var(--x)) calc( 0% - var(--y)), rgb(250 255 000), rgb(036 000 000)), 
    radial-gradient(150% 210% at calc(100% + var(--x)) calc( 0% + var(--y)), rgb(020 175 125), rgb(000 010 255)), 
    radial-gradient(100% 100% at calc(100% - var(--x)) calc(30% - var(--y)), rgb(255 077 000), rgb(000 200 255)), 
    linear-gradient(60deg, rgb(255 000 000), rgb(120 086 255));
  background-blend-mode: overlay, overlay, difference, difference, difference, normal;

}

.developerimage {
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(0.1px);
  border-radius: 10px;
}

.introtext {
  color: aliceblue;
  font-size: 40px;
  font-family: monospace;
  pointer-events: none; /* Disable interactions with links/images */
  -webkit-user-drag: none; /* Disable drag on images (Safari) */
}

.basedin {
  color: #ffffff;
}

.introsmalltext {
  color: white;
  font-family: monospace;
}

.animated3dbox {
  background-color: aqua;

}
.skillsdecpt{
  color: white;
  font-family: monospace;
  margin-bottom: 1em;
  padding: 1em;
}



.loader {
  position: relative;
  overflow: hidden;
  border-right: 3px solid;
  width: 0px;
  animation: typewriter 2s steps(7) alternate , blink 0.5s steps(7);
}
.loader1 {
  position: relative;
  overflow: hidden;
  border-right: 3px solid;
  width: 0px;
  animation: typewriter 4s steps(21)   alternate , blink 0.5s steps(21) ;
}
.loader2 {
  position: relative;
  overflow: hidden;
  border-right: 3px solid;
  width: 0px;
  animation: typewriter 6s steps(15)   alternate , blink 0.5s steps(15) ;
}

.loader-text {
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(to right,#159957, #155799);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes typewriter {
  0% {
    width: 0px;
  }

  100% {
    width: 240px;
  }
}

@keyframes blink {
  0% {
    border-right-color: rgba(255,255,255,.75);
    ;
  }

  100% {
    border-right-color: transparent;
  }
}