.container {
  margin-top: 0;

}

.infoContainer {
  flex-wrap: wrap;
  flex-direction: row;
}

.bgimg {
  background-image: url("https://images.pexels.com/photos/176851/pexels-photo-176851.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  height: min-content;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.developerimage {
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
}

.introtext {
  color: aliceblue;
  font-size: 40px;
  font-family: monospace;
}

.basedin {
  color: #ffffff;
}

.introsmalltext {
  color: white;
  font-family: monospace;
}

.animated3dbox {
  background-color: aqua;

}
.skillsdecpt{
  color: white;
  font-family: monospace;
  margin-bottom: 1em;
  padding: 1em;
}

