.container {
  margin-top: 0;

}

.infoContainer {
  flex-wrap: wrap;
  flex-direction: row;
}

.bgimg {
  background-image: url("https://images.pexels.com/photos/2670898/pexels-photo-2670898.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  height: min-content;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* backdrop-filter: blur(1px); */
  /* background-color: rgba(0, 0, 0, 0.901); */
}

.developerimage {
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(0.1px);
  border-radius: 10px;
}

.introtext {
  color: aliceblue;
  font-size: 40px;
  font-family: monospace;
}

.basedin {
  color: #ffffff;
}

.introsmalltext {
  color: white;
  font-family: monospace;
}

.animated3dbox {
  background-color: aqua;

}
.skillsdecpt{
  color: white;
  font-family: monospace;
  margin-bottom: 1em;
  padding: 1em;
}



.loader {
  position: relative;
  overflow: hidden;
  border-right: 3px solid;
  width: 0px;
  animation: typewriter 2s steps(7) alternate , blink 0.5s steps(7);
}
.loader1 {
  position: relative;
  overflow: hidden;
  border-right: 3px solid;
  width: 0px;
  animation: typewriter 4s steps(21)   alternate , blink 0.5s steps(21) ;
}
.loader2 {
  position: relative;
  overflow: hidden;
  border-right: 3px solid;
  width: 0px;
  animation: typewriter 6s steps(15)   alternate , blink 0.5s steps(15) ;
}

.loader-text {
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(to right,#159957, #155799);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes typewriter {
  0% {
    width: 0px;
  }

  100% {
    width: 240px;
  }
}

@keyframes blink {
  0% {
    border-right-color: rgba(255,255,255,.75);
    ;
  }

  100% {
    border-right-color: transparent;
  }
}